@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
  margin-top: 0;
  font-family: "Roboto";
}

#move{
  margin-left: 16px;
}

header {
  padding-bottom: 12px;
  padding-top: 12px;
}

nav {
  border-bottom: black solid 1px;
  padding: 16px 0;
  background-color: #3b6064;
}

h1{
  color: rgb(25, 98, 25);
}

h4 {
  margin: 1px 0;
}

footer {
  width: 100%;
  padding: 24px;
  position: absolute;
  left: 0px;
  background-color: #c9e4ca;

}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

img {
  height: 200px;
  width: 200px;
}

hr{
  position: relative;
  right: 12px;
  top: 12px;
}

#main-page-link{
  position: relative;
  left: 16px;
  color:white;
}

.recipe-grid{
  display: grid;
  grid-template-columns: repeat(4, 300px);
}

table tr:nth-child(2n + 3){
  background-color: lightgray;
}
